# This file specifies which users are code owners for this repository

# All files in the repo
* @aryaMehta26

# Specific critical files
*.py @aryaMehta26
*.tsx @aryaMehta26
*.ts @aryaMehta26
*.json @aryaMehta26
frontend/ @aryaMehta26
